<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card card-stats detail">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon isRed">
            <mat-icon svgIcon="sale"></mat-icon>
          </div>
          <p class="card-category">ROLES</p>
          <h1 class="card-title">3</h1>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card card-stats detail">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon isBlue">
            <mat-icon svgIcon="moped"></mat-icon>
          </div>
          <p class="card-category">COMPAÑIAS</p>
          <h1 class="card-title">2</h1>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="card card-stats detail">
        <div class="card-header card-header-danger card-header-icon">
          <div class="card-icon isRed">
            <mat-icon svgIcon="account-group"></mat-icon>
          </div>
          <p class="card-category">USUARIOS</p>
          <h1 class="card-title">4</h1>
        </div>
      </div>
    </div>
  </div>
</div>
